body {
    background-color: #697D82;
    width: 100%;
    text-align: center;
    padding-top: 95px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

nav {
    background-color: #14203D;
    border-bottom: 1px solid white;
}

h1, h2, h3, h4, h5, h6, p, a {
    color: white;
}

nav, .sidebar-header {
    height: 95px;
}

#sidebar {
    width: 250px;
    height: 100vh;
    border-right: 1px solid white;
}

#sidebar.hidden {
    margin-left: -250px;
}

#sidebar a {
    padding: 20px;
}

#sidebar h4 {
    margin: 30px;
}

#sidebar hr {
    background-color: white;
}

header .navbar-brand img {
    height: 70px;
}

#logout
{
    position: absolute;
    right: 3%;
}

#content {
    width: 100%;
}

.titleinput {
    width: 500px;
}

.hr-shine {
    border: 0;
    margin: 1.35em auto;
    max-width: 100%;
    background-position: 50%;
    box-sizing: border-box;
}

.shine {
    height: 20px;
    width: 75%;
    background-image: radial-gradient( farthest-side at 50% -50%, hsla(0, 0%, 0%, 0.5), hsla(0, 0%, 0%, 0));
    position: relative;
}

article {
    width: 85%;
    margin: 0 auto;
}