html, body {
    height: 100%;
    margin: 0 auto;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #697D82;
    padding-top: 95px;
    /* Height of the navbar */
    padding-bottom: 60px;
    /* Height of the footer */
}

nav
{
    font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    background-color: #14203D;
}

header .navbar-brand img
{
    height: 70px;
}

footer {
    margin-top: auto;
}

h1, h2, h3, h4, p, a, .nav-link {
    color: white;
}

p {
    margin: 0 4% 0 4%;
}

.hr-text {
    font-size: 20px;
    position: relative;
    border: 0;
    height: 1.5em;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, white, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1em;
    color: white;
    background-color: #697D82;
    font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
}

#navbarSupportedContent {
    width: 60%;
    text-align: center;
    color: white;
}

.nav-link:hover {
    color: white;
    text-decoration: underline;
}

.active {
    text-decoration: underline;
}

.card {
    width: 80%;
    max-width: 25rem;
    margin: 20px;
}

textarea {
    max-width: 90%;
}

#presentation img
{
    width: 100%;
    position: relative;
}

#header-text
{
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'Dancing Script', Arial, Helvetica, sans-serif;
    width: 90%;
}

#header-text .lead
{
    margin-top: 250px;
    font-size: 1.5em;
    font-weight: bold;
}